<!-- ====== Testimonials Start ====== -->
<section id="testimonials" class="ud-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title mx-auto text-center">
                    <span>Testimonials</span>
                    <h2>What our Customers Says</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="ud-single-testimonial wow fadeInUp"
                     data-wow-delay=".1s">
                    <div class="ud-testimonial-ratings">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                    </div>
                    <div class="ud-testimonial-content">
                        <p>
                            “Our members are so impressed. It's intuitive. It's clean.
                            It's distraction free. If you're building a community.
                        </p>
                    </div>
                    <div class="ud-testimonial-info">
                        <div class="ud-testimonial-image">
                            <img src="assets/images/testimonials/author-01.png"
                                 alt="author" />
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4>Sabo Masties</h4>
                            <p>Founder @@UIdeck</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ud-single-testimonial wow fadeInUp"
                     data-wow-delay=".15s">
                    <div class="ud-testimonial-ratings">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                    </div>
                    <div class="ud-testimonial-content">
                        <p>
                            “Our members are so impressed. It's intuitive. It's clean.
                            It's distraction free. If you're building a community.
                        </p>
                    </div>
                    <div class="ud-testimonial-info">
                        <div class="ud-testimonial-image">
                            <img src="assets/images/testimonials/author-02.png"
                                 alt="author" />
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4>Margin Gesmu</h4>
                            <p>Founder @@Lineicons</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ud-single-testimonial wow fadeInUp"
                     data-wow-delay=".2s">
                    <div class="ud-testimonial-ratings">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                    </div>
                    <div class="ud-testimonial-content">
                        <p>
                            “Our members are so impressed. It's intuitive. It's clean.
                            It's distraction free. If you're building a community.
                        </p>
                    </div>
                    <div class="ud-testimonial-info">
                        <div class="ud-testimonial-image">
                            <img src="assets/images/testimonials/author-03.png"
                                 alt="author" />
                        </div>
                        <div class="ud-testimonial-meta">
                            <h4>William Smith</h4>
                            <p>Founder @@GrayGrids</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-brands wow fadeInUp" data-wow-delay=".2s">
                    <div class="ud-title">
                        <h6>Trusted and Used by</h6>
                    </div>
                    <div class="ud-brands-logo">
                        <div class="ud-single-logo">
                            <img src="assets/images/brands/ayroui.svg" alt="ayroui" />
                        </div>
                        <div class="ud-single-logo">
                            <img src="assets/images/brands/uideck.svg" alt="uideck" />
                        </div>
                        <div class="ud-single-logo">
                            <img src="assets/images/brands/graygrids.svg"
                                 alt="graygrids" />
                        </div>
                        <div class="ud-single-logo">
                            <img src="assets/images/brands/lineicons.svg"
                                 alt="lineicons" />
                        </div>
                        <div class="ud-single-logo">
                            <img src="assets/images/brands/ecommerce-html.svg"
                                 alt="ecommerce-html" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Testimonials End ====== -->